<header class="bg-primary text-white py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <h1 class="h3 m-0">AutentiCar</h1>
    <nav>
      <ul class="nav">
        <li class="nav-item"><a class="nav-link text-white" href="index.html">Inicio</a></li>
        <li class="nav-item" id="nav-login"><a class="nav-link text-white" href="login.html">Login</a></li>
        <li class="nav-item" id="nav-register"><a class="nav-link text-white" href="register.html">Registro</a></li>
        <li class="nav-item d-none" id="nav-perfil">
          <a class="nav-link text-white" href="usuarioDetalle.html">Mi Perfil</a>
        </li>

        <!-- SOLO ADMIN -->
        <li class="nav-item d-none" id="nav-admin-usuarios">
          <a class="nav-link text-white" href="usuarios.html">Usuarios</a>
        </li>
        <li class="nav-item d-none" id="nav-admin-vehiculos">
          <a class="nav-link text-white" href="vehiculos.html">Vehículos</a>
        </li>

        <li class="nav-item d-none" id="nav-logout">
          <a class="nav-link text-white" href="#" id="logoutLink">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
