
<header class="site-navbar sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary-gradient py-2">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center gap-2" href="index.html">
        <span class="fw-semibold">AutentiCar</span>
      </a>

      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
          <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>

          <li class="nav-item d-none" id="nav-login"><a class="nav-link" href="login.html">Login</a></li>
          <li class="nav-item d-none" id="nav-register"><a class="nav-link" href="register.html">Registro</a></li>

          <li class="nav-item d-none" id="nav-perfil">
            <a class="nav-link" href="usuarioDetalle.html">Mi Perfil</a>
          </li>

          <li class="nav-item d-none" id="nav-favoritos">
            <a class="nav-link d-flex align-items-center gap-1" href="misFavoritos.html">
              <img src="img/corazonBlanco2.png" class="nav-icon" alt="icono favoritos">
              <span>Favoritos</span>
              <span id="fav-badge" class="badge bg-light text-primary ms-1 d-none">0</span>
            </a>
          </li>
          
          <li class="nav-item d-none" id="nav-admin-usuarios"><a class="nav-link" href="usuarios.html">Usuarios</a></li>

          <li class="nav-item d-none" id="nav-concesionario-publicaciones">
            <a class="nav-link" href="index.html">Todas las publicaciones</a>
          </li>

          <li class="nav-item d-none" id="nav-logout">
            <a class="nav-link" href="#" id="logoutLink">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
